/* 
    Created on : 31/01/2017, 08:26:43
    Author     : Sec. Modernizacion - Plan Anual de Capacitacion
    */


    body{
        background-color: #ffffff;
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf')}};
    }

    .container{

        background-color: black;
    }
    
    .navbar-default .navbar-brand {
        color: rgba(255, 255, 255, 1);
        font-family: "Avenir Next LT Pro";
        font-weight: bold;
}
.navbar-default {
    font-size: 14px;
    font-family: "Avenir Next";
    src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf')}};
    background-color: rgba(46, 95, 70, 1);
    background: -webkit-linear-gradient(top, rgba(121, 159, 79, 1) 0%, rgba(46, 95, 70, 1) 100%);
    background: linear-gradient(to bottom, rgba(121, 159, 79, 1) 0%, rgba(46, 95, 70, 1) 100%);
    border-width: 1px;
    border-radius: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(121, 159, 79, 1) 0%, rgba(46, 95, 70, 1) 100%);
    background: linear-gradient(to bottom, rgba(121, 159, 79, 1) 0%, rgba(46, 95, 70, 1) 100%);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(121, 159, 79, 1);
    background: -webkit-linear-gradient(top, rgba(163, 207, 98, 1) 0%, rgba(121, 159, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(163, 207, 98, 1) 0%, rgba(121, 159, 79, 1) 100%);
}
.navbar-default .navbar-nav:active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(121, 159, 79, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(121, 159, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(121, 159, 79, 1) 100%);
}
.navbar-default .navbar-toggle {
    border-color: #799f4f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #799f4f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #799f4f;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2e5f46;
}

    /*.btn-success:hover, .btn-success:focus {
        background-color: #799F4F;
        background-position: 0 -15px;
    }
    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
        color: #fff;
        background-color: #799F4F;
        border-color: #2E5F46;
    }
    .btn-success {
        color: #000;
        background-color: #2E5F46;
        border-color: #2E5F46;      
        background-image: #A3CF62 90%,#A3CF62 10%);
        background-repeat: repeat-x;
        font-family: "Avenir Next LT Pro";
    }*/

    #btn_registrar { 
    color: #000000; 
    /*background-color: #A3CF62;*/
    background: -webkit-linear-gradient(top, #799F4F 0%, #A3CF62 100%);
    background: linear-gradient(to bottom, #799F4F 0%, #A3CF62 100%); 
    border-color: #2E5F46; 
} 
 
#btn_registrar.btn-success:hover, 
#btn_registrar.btn-success:focus, 
#btn_registrar.btn-success:active, 
#btn_registrar.btn-success.active, 
.open .dropdown-toggle.btn_registrar.btn-success { 
  color: #FFFFFF; 
  background-color: #799F4F; 
  border-color: #2E5F46; 
} 
 
#btn_registrar.btn-success:active, 
#btn_registrar.btn-success.active, 
.open .dropdown-toggle#btn_registrar.btn-success { 
  background-image: none;
} 
 
#btn_registrar.btn-success.disabled, 
#btn_registrar.btn-success[disabled], 
fieldset[disabled] #btn_registrar.btn-success, 
#btn_registrar.btn-success.disabled:hover, 
#btn_registrar[disabled]:hover, 
fieldset[disabled] #btn_registrar.btn-success:hover, 
#btn_registrar.btn-success.disabled:focus, 
#btn_registrar.btn-success[disabled]:focus, 
fieldset[disabled] #btn_registrar.btn-success:focus, 
#btn_registrar.btn-success.disabled:active, 
#btn_registrar.btn-success[disabled]:active, 
fieldset[disabled] #btn_registrar.btn-success:active, 
#btn_registrar.btn-success.disabled.active, 
#btn_registrar.btn-success[disabled].active, 
fieldset[disabled] #btn_registrar.btn-success.active { 
  background-color: #A3CF62; 
  border-color: #2E5F46; 
} 
 
#btn_registrar.btn-success .badge { 
  color: #A3CF62; 
  background-color: #FFFFFF; 
}

    .label {
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff')}};
        font-size: 14px;
        font-weith: regular;
        line-height: 1.42857143;
        color: #717271;
    }

    .panel-group {
        margin-bottom: -15px;
    }

    .panel-default > .panel-heading {
    color: #000;
    background-color: #799F4F;/*#CAC9C8;*/
    background: -webkit-linear-gradient(top, #A3CF62 0%, #799F4F 100%);
    background: linear-gradient(to bottom, #A3CF62 0%, #799F4F 100%); 
    /*background-image: linear-gradient(to bottom,#A3CF62 90%,#799F4F 10%);
    background-repeat: repeat-x;*/
    border-color: #2E5F46;/*#717271;*/
    font-family: "Avenir Next";
    src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.woff')}};
    font-size: 17px;
    font-weight: bold;
    }

    .panel-group > .panel-heading {
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiCn.woff')}};
        font-size: 16px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .panel-body {
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff')}};
        font-size: 14px;
        font-weight: regular;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    #prinform {
        border: none;
        box-shadow: none;
    }

    .has-feedback .form-control {
        padding-right: 5px;
        padding-left: 5px;
    }

    #fp_date {
        padding-right: 5px;
        padding-left: 5px;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff')}};
    }

    input, button, select, textarea {
        font-family: "Avenir Next";
        src: {{URL::to('fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff')}};
    }

    hr {
        margin-top: 0px;
        margin-bottom: 15px;
        border: 0;
        border-top: 2px solid #717271;
    }

    *::-webkit-input-placeholder {
        /* Google Chrome y Safari */
        color: grey;
        font-size: 12px;
    }
    *:-moz-placeholder {
        /* Firefox anterior a 19 */
        color: grey;
        font-size: 12px;
    }
    *::-moz-placeholder {
        /* Firefox 19 y superior */
        color: grey;
        font-size: 12px;
    }
    *:-ms-input-placeholder {
        /* Internet Explorer 10 y superior */
        color: grey;
        font-size: 12px;
    }

    /* Medium devices (desktops, 992px and up)@screen-md-min */
    @media (min-width: 992px) { 
        #dni_dv {
            width: 10%;
        } 
        #fec_nac_dv{
            width: 14%;
        }
        #tel_dv{
            width: 11%;
        }
    }