/*
 * Direccion General del Notariado, Registro y Archivos
 * Gobierno de Entre Rios
 * Área de Informática 2015
 */
/* 
    Created on : 16/06/2015, 08:26:43
    Author     : Dir.gral. notariado
    */

    @font-face {
        font-family: "Franklin Gothic Medium";
        src: url("../fonts/ufonts.com_franklin-gothic-medium.ttf");
    }
    body{
        background-color: rgb(171, 171, 171);
    }
    //DROPDOWN MULTILEVEL
    .dropdown-submenu {
        position: relative;
    }


    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    .texto{
        color: #000;
        font-family: Franklin Gothic medium;
    }

    .titulo{
        color: gray;
        font-size: 38px;
        font-family: Franklin Gothic medium;
    }

    .encabezado_page{
        width: 1000px;
        height: 142px;
    }
    .panel-verde{
        border-color: #008080;
    }
    .panel-verde{
        margin-top: -18px;
    }
    .panel-verde > .panel-heading {
        background-color: #008080;
        background-repeat: repeat-x;
        color: white;
        padding: 4px 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-title{
        font-size: 13px;
        font-weight: bold;
    }
    .panel-body{
        padding: 1px 4px;
    }
/*.row{
    margin-bottom: -20px;
    }*/
    #formPersona .row{
        margin-bottom: 0px;
    }
    .form-control{
        font-size: 15px;
        height: 25px;
        padding: 0px;
    }
    input[readonly]{
        padding-left: 6px;
    }
    .form-group{
        margin-bottom: 5px;
    }

    .help-block{
        margin-top: 0px;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #tablaTit{
        font-size: 13px;
    }

    .btn{
        font-family: Franklin Gothic medium;
        padding: 4px 8px;
    }

    .btn-notario{
        color: #FFFFFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #126565;
        *background-color: #126565;
        background-image: -moz-linear-gradient(top, #3C9595, #126565);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C9595), to(#126565));
        background-image: -webkit-linear-gradient(top, #3C9595, #126565);
        background-image: -o-linear-gradient(top, #3C9595, #126565);
        background-image: linear-gradient(to bottom, #3C9595, #126565);
        background-repeat: repeat-x;
        border-color: #126565;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C9595', endColorstr='#126565', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .btn-notario:hover,
    .btn-notario:focus,
    .btn-notario:active,
    .btn-notario.active,
    .btn-notario.disabled,
    .btn-notario[disabled]{
        color: #FFFFFF;
        background-color: #1A4A4A;
        background-position: 0 -28px;
        outline: none;
    }

/*#img:focus{
    color: #FFFFFF;
    background-color: #1A4A4A;
    background-position: 0 -28px;
    outline: none;
    }*/

    .btn-notario:active:focus, 
    .btn-danger:active:focus, 
    .btn-default:active:focus,
    .btn-warning:active:focus,
    .btn-danger:focus,
    .btn-default:focus,
    .btn-warning:focus{
        outline: none;
    }


    .navbar-notariado{
        background-color: #008080;
        border-color: #008080;
        font-family: Franklin Gothic Medium;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .navbar-notariado .navbar-nav > li > a{
        color: #fff;  
    }
    .navbar-notariado .navbar-nav > li > a:hover{
        background-color: #E7E7E7;
        color: #000;
    }
    .navbar-nav > li > a:focus{
        background-color: #E7E7E7;
        color: #000;
    }

    .has-feedback label ~ .form-control-feedback{
        top: 16px;
    }
    .label-success{
        background-color: #248326;
    }
    .help-block{
        font-weight: bold;
        position: absolute;
    }

    .has-feedback .form-control{
        padding-left: 6px;
        padding-right: 6px;
    }

    #afectacion{
        resize: none;
    }

    .btn-file + span{
        margin-left: 160px;
        position: initial;
        margin-top: -33px;
    } 
    #panelUbi{
        display: inline;
        margin-left: 850px;
        cursor: pointer;
    }
    #panelUbi:hover{
        color: #000000;
    }

    .btn-pendiente{
        color: #000;
        background-color: #d9c94f;
        border-color: #d1b439; 
    }
    .btn-pendiente:hover,
    .btn-pendiente:focus,
    .btn-pendiente:active,
    .btn-pendiente.active,
    .open > .dropdown-toggle.btn-pendiente {
        color: #000;
        background-color: #c9b629;
        border-color: #ad9c24;
    }

    .parsley-errors-list {
      margin-bottom: 0px;
      padding: 0;
      list-style-type: none;
      font-size: 0.9em;
      line-height: 1.2em;
      opacity: 0;

      transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
  }

  .parsley-errors-list.filled {
    opacity: 1;
    color: #d9534f;
}

#checkPdf{
    position: absolute;
    margin-top: 10px;
    margin-left: 115px;
    font-size: 1.4em;
    color: rgb(18, 101, 101);
}

.buttonText{
    margin-left: 3px;
}

.dataTables_length{
    color: teal;
    margin-left: 20px;
    margin-top: 10px;
}
.dataTables_info{
    color: teal;
    margin-left: 20px;
}
select.input-sm{
    height: 25px;
}
input.input-sm{
    padding-left: 6px;
}
.dataTables_filter{
    color: teal;
    margin-top: 10px;
    margin-right: 20px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: teal;
    border-color: teal;
}
.pagination > li > a, .pagination > li > span{
    color: teal;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
    color: #046565;
}

.icon-bar{
    background-color: rgb(255, 255, 255);
}
.navbar-toggle{
    border-color: rgb(183, 183, 183);
}